/*
* === BODY & MAP ===
*/
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #262626
}
#map {
  flex-grow: 2;
  transition: all 0.4s;
 }

 /*
* === GEOCODER & STATUS AREA ===
*/
 #geo-status-area {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 1vh;
   padding-right: 1vh;
   background-color: #111;
   font-family: 'Montserrat', sans-serif;
   z-index: 10;
}
#geocoder {
  display: flex;
  justify-content: center;
  margin: 1vh;
  width: 100%;
  align-items: center;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
#menu-btn-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10px;
  z-index: 10;
  padding: 10px;
}

.menu-btn {
  width: 30px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 1.5px 0;
  border-radius: 20px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  padding-left: 60px;
  height: 35px;
}

#status-area {
  margin-bottom: 1vh;
  color: white;
}
#status-title {
  flex-wrap: nowrap;
  font-size: 3.2vw;
  display: inline;
  margin-right: 0.5vw;
}
#status-text {
  flex-wrap: nowrap;
  font-size: 3.2vw;
  display: inline;
  white-space: nowrap;
  margin-left: 0.5vw;
  font-weight: 900;
}
.no-emergency {
  color: #00ff99;
}
.emergency {
  color: red;
}

/*
* — Day Selector Buttons & Info —
*/
#day-selector-container {
  display: flex;
  justify-content: center;
  position: fixed;
  overflow-x: auto;
  width: 100%;
  z-index: 5;
  transition: all 0.4s;
}
.day {
  display: inline-block;
}
.day-selector {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-color: white;
  border-width: 1px;
  border-radius: 20px;
  padding: 6px 10px;
  margin: 6px 10px;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background: rgb(20, 20, 20);
  background: rgba(0, 0, 0, 0.6);
}

/* active class for the active day selector button */
.active {
  background: rgba(247, 247, 247);
  color: black;
  font-weight: bold;
  border-color: black;
  border-width: 2px;
}

/*
* === INFO AREA ===
*/
#info-area {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
}

@media screen and (min-width: 1000px) {
  #info-area {
     font-size: 20px;
  }
}

/* Toggle-container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.toggle-container {
  display: none;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  transition: all 0.4s;
}

.info-text-container {
  flex-grow: 1;
  justify-content: center;
  padding: 4px;
}

/* Style the "Do" section */
#do {
  background-color: #133318;
}

/* Style the "Don't" section */
#dont {
  background-color: #801f1f;
}

#time {
  background-color: #111;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 2vw;
  margin-left: 1vw;
  top: -1vh
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 40vw;
  top: 100%;
  right: 105%;
  margin-left: -20vw; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
